/* Estilos generales */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.galeria {
    display: inline-flex;
    width: 80%;
    height: 300px;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
}

.galeria img {
    width: 0px;
    flex-grow: 1;
    object-fit: fill;
    filter: brightness(100%);
    transition: .7s ease;
    border-radius: 0px;
}

.galeria img:hover {
    width: 50px;
    opacity: 1;
    filter: brightness(130%);
}

#banner {
    background-color: #958b8b72; /* Agrega el color de fondo gris que desees */
    padding: 20px; /* Ajusta el relleno según sea necesario */
    text-align: center; /* Centra el texto horizontalmente */
}

#banner h2 {
    color: #000000;
    font-size: 40px;
    text-shadow: 2px 2px 4px rgb(255, 158, 158);
}

body {
    font-family: 'Arial', sans-serif;
    text-align: center;
    background-image: url('https://img.freepik.com/vector-premium/ilustracion-vector-patrones-fisuras-comida-rapida-garabatos-dibujo-mano-alzada_127770-730.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

/* Estilos del encabezado */
header {
    background-color: #333;
    color: #ffffff;
    text-align: center;
    padding: 10px 0;
}

h1 {
    margin: 0;
}

/* Estilos de la barra de navegación */
nav {
    background-color: #333;
    margin-top: 10%;
    margin-bottom: 10%;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

nav li {
    flex-grow: 1;
}

nav a {
    display: block;
    padding: 10px;
    color: #fff;
    text-align: center;
    text-decoration: none;
}

/* Estilos del pie de página */
footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

.pie {
    margin: 0;
}

/* Estilos de los enlaces de redes sociales en el pie de página */
.container a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
    position: relative;
}

.container a span {
    display: inline-block;
    position: relative;
    z-index: 2;
}

.container a i {
    display: inline-block;
    position: relative;
    z-index: 1;
    width: 20px;
    height: 20px;
    background-size: cover;
}

.container a:hover i {
    transform: scale(1.2);
}

#info {
    background-color: rgba(220, 160, 160, 0.418);
    text-align: center;
    padding: 0px;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 5%;
    margin-right: 5%;
    border-color: #6b2f2f;
    border-style: double;
    border-top-right-radius: 10% ;
}

#info .contenedor {
    display:inline-flex;
    justify-content: center;
    flex-wrap:nowrap;
    
    
}



/* Estilos para los enlaces de mesas, meseros y platillos */


.info-mesa a {
    display:grid;
    padding: 10px 20px;
    margin: 50px;
    background-color: #d8af9e; /* Color de fondo del botón */
    color: #000000; /* Color del texto del botón */
    text-decoration: none;
    border-radius: 5px;
    transition: 0.3s ease; /* Agrega una transición de color suave al botón */
    
}

.info-mesa a:hover {
    background-color: #b96729; /* Cambia el color de fondo cuando se pasa el ratón por encima */
}


#info img {
    width: 250px; /* Ajusta el tamaño según tus preferencias */
    height: 180px; /* Ajusta el tamaño según tus preferencias */
    border-radius: 20%;
    border: 3px solid rgb(166, 122, 122);
    margin: 10%; /* Ajusta el margen según tus preferencias */
    margin-left: 10px; /* Ajusta la distancia según tus necesidades */ 
    
}
